<ion-content>
  <ion-slides class="onboard-slides" pager="false" >
    <ion-slide>
    <div class="slide">
      <h3 class="ion-text-center">Now all you need to do</h3>
      <h1 class="ion-text-center">is wait</h1>
      <div style="padding-top:20%" *ngIf="!notificationsEnabled">
        <h6 class="ion-text-center">Keep coming back to this page or</h6>
        <h4 class="ion-text-center">Enable Notifications</h4>
        <h6 class="ion-text-center">to be notified</h6>
      </div>
    </div>
  </ion-slide>
</ion-slides>
</ion-content>