

    .countdown-wrapper {
        display: block;
        position: center;
      width: 30%;
      display: flex;
      justify-content: flex-end;
      // Set position absolute so that the parent doen't count the height of this element.

     // right: 0px;

      
        font-weight: 500;
        font-size: 30px;
         margin-right: calc(var(--page-countdown-gutter) * -1);
      

        app-countdown-timer.item-countdown {
            --countdown-time-margin: 0px;
            --countdown-time-padding: 0px;
            --countdown-inner-time-margin: var(--page-countdown-gutter) var(--page-countdown-gutter) 0px;
            --countdown-inner-time-padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
            --countdown-fill-border: none;
            --countdown-fill-border-radius: var(--app-narrow-radius);
            --countdown-fill-background: var(--ion-color-lightest);
            --countdown-fill-shadow: 0px 0px 5px 0px var(--page-countdown-fill-shadow-color);
            --countdown-value-color: var(--ion-color-darkest);
            --countdown-unit-color: var(--ion-color-medium-shade);
            --countdown-time-flex-direction: column;
        }
    
    }