// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties


// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.login-content {

  ion-input{
    border-radius: 4px !important;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 0.9em;
    
    --background: rgb(219,219,219) !important;
}
  .inputs-list {
    --ion-item-background: var(--page-background);

    
    .input-item {
      background-color: var(--page-background);
      text-indent: 6px;
    }

    .error-container {
      .error-message {
        margin: calc(var(--page-margin) / 2) 5px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 12px;
        padding-top: 0px;
      }
    }
  }

  .login-btn {
    margin: calc(var(--page-margin) / 1) 0px;
  }

  .other-auth-options-row {
    justify-content: space-between;
    align-items: center;

    .forgot-btn {
      --color: var(--ion-color-medium);
      margin: 0px;

      &:focus {
        outline: none;
      }
    }

    .signup-btn {
      --color: var(--ion-color-secondary);
      margin: 0px;

      &:focus {
        outline: none;
      }
    }
  }

  .social-auth-options {



    .options-divider {
      color:  var(--ion-color-medium);
  		margin: var(--page-margin);
      text-align: center;
      font-size: 15px;
      padding-top:30px;

    }

    .social-auth-btn {
      margin: 5px;

      &:not(:first-child) {
        margin-top: var(--page-margin);
      }
    }
  }
}
