// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties


// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties

ion-input{
  border-radius: var(--ion-color-primary);
}


ion-list{
  background-color: green($color: #8a1717);
  background-color: green($color: #8a1717);
}

.md {
  background:green($color: #8a1717);
}

.card {
  background-color: rgb(255, 255, 255); // black

}

.login-content {

  .inputs-list { 
    background-color: var(--ion-color-primary);
  }

    .error-container {
      .error-message {
        margin: calc(var(--page-margin) / 2);
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 12px;
        padding-top: 0px;
      }
    }
  }

  .login-btn {
    margin: calc(var(--page-margin) / 1) 0px;
  }

  .other-auth-options-row {
    justify-content: space-between;
    align-items: center;

    .forgot-btn {
      --color: var(--ion-color-medium);
      margin: 0px;

      &:focus {
        outline: none;
      }
    }

    .signup-btn {
      --color: var(--ion-color-secondary);
      margin: 0px;

      &:focus {
        outline: none;
      }
    }
  }

  .social-auth-options {

    .options-divider {
      color:  var(--ion-color-medium);
  		margin: var(--page-margin);
      text-align: center;
      font-size: 15px;
      padding-top:30px;

    }

    .social-auth-btn {
      margin: 5px;

      &:not(:first-child) {
        margin-top: var(--page-margin);
      }
    }
  }

