
.rundown-slides {
    display:flex;
      height: 100%;
      width: 80%;
      flex-flow: column;
      justify-content: flex-center;
    }
    
    .slide {
             
    width:80%;
    }

    .h1-massive {
        font-size: 100vw;
        color: var(--ion-color-secondary);
        line-height: 70%;
      }