<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Rundown
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="workoutActive">
  <h3 class="ion-text-center">
    <app-countdown-timer targetDate={{targetDate}} ></app-countdown-timer> 
  </h3>
</div>

<ion-content>
 
  <!-- 
  <div *ngIf="workoutActive">
    <ion-chip color="warning" mode="ios" outline="true">
      <ion-label>Workout Active</ion-label>
    </ion-chip> 
  </div>
-->
  
  <ion-slides #slides class="rundown-slides" pager="false" [options]="slidesOptions" [hidden]="!workoutActive">
    <ion-slide class="slide">
      <app-lobby></app-lobby>
    </ion-slide>


    <ion-slide>
      <app-workout-countdown targetDate={{targetDate}}></app-workout-countdown>
    </ion-slide>
    
    <ion-slide *ngFor="let pump of currentWorkout?.pumps">
      <app-pump [pump]="pump"></app-pump>
      </ion-slide>
      
   
      <ion-slide>
        <app-workout-complete></app-workout-complete>
      </ion-slide>
    
    </ion-slides>
</ion-content>

<div *ngIf="showDebugToolbar">
<ion-footer>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-left" size="small" >{{this.debugMessage$ | async}}</ion-title>
    <ion-buttons slot="primary" *ngIf="!workoutActive" >
      <ion-button (click)="publishGenerateWorkout()">
        <ion-icon name="flash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</div>
