<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><app-countdown-timer targetDate={{targetDate}} ></app-countdown-timer> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="workoutActive">
Workout Active
</div>

<ion-slides>
<ion-slide>
  <app-pump-slide></app-pump-slide>
</ion-slide>
<ion-slide>
  <app-pump-slide></app-pump-slide>
</ion-slide>
<ion-slide>
  <app-pump-slide></app-pump-slide>
</ion-slide>

</ion-slides>




</ion-content>

<div *ngIf="showDebugToolbar">
<ion-footer>
  <ion-toolbar color="warning">
    <ion-title size="small" >{{this.debugMessage$ | async}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="publishGenerateWorkout()">
        <ion-icon name="flash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</div>
