<ion-header>
  <ion-toolbar>
    <ion-title>rundown</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="publishGenerateWorkout()">
        <ion-icon  name="flash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">

      <ion-item *ngFor="let step of rundown">
        <ion-label>
       
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>
