<ion-content>
  <ion-slides class="onboard-slides" pager="true" [options]="slidesOptions">

    <ion-slide>
      <div class="slide">
        <h1 class="ion-text-left">Workout</h1>
        <h3 class="ion-text-center">with the masses from across</h3>
        <h2 class="ion-text-right">the World</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h2 class="ion-text-left">Motivate</h2>
        <h3 class="ion-text-center">yourself by competing in</h3>
        <h1 class="ion-text-right">Pumps</h1>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h3 class="ion-text-center">at random times</h3>
        <h2 class="ion-text-center">everyday</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h1 class="ion-text-center">3 minute warnings</h1>
        <h3 class="ion-text-center">to keep you</h3>
        <h2 class="ion-text-center">on your toes!</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <app-login-page></app-login-page>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>