
<ion-content>
  <ion-slides class="onboard-slides" pager="true" [options]="slidesOptions">

    <ion-slide>
      <div class="slide">
        <h1 class="ion-text-left">Workout</h1>
        <h3 class="ion-text-center">with the masses from across</h3>
        <h2 class="ion-text-right">the world.</h2>
    </div>
    </ion-slide>

    <ion-slide >
      <h1>Motivate yourself by competing in 'pumps' at random times throughout the day</h1>
    </ion-slide>

    <ion-slide class="first-slide illustration-and-decoration-slide">
      <h1>3 minute warning to keep you on your toes!</h1>
    </ion-slide>

    <ion-slide >
      <app-login-page></app-login-page>
    </ion-slide>

    <ion-slide class="first-slide illustration-and-decoration-slide">
      <h1>We need to let you know when pumps are coming</h1>
      <h2>Please allow notifications!</h2>
    </ion-slide>


  </ion-slides>
</ion-content>