<ion-content>
  <ion-slides class="onboard-slides" pager="true" [options]="slidesOptions">

    <ion-slide>
      <div class="slide">
        <h1 class="ion-text-left">workout</h1>
        <h3 class="ion-text-center">with the masses from across</h3>
        <h2 class="ion-text-right">the world</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h2 class="ion-text-left">motivate</h2>
        <h3 class="ion-text-center">yourself by competing in</h3>
        <h1 class="ion-text-right">Pumps</h1>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h3 class="ion-text-center">at random times</h3>
        <h2 class="ion-text-center">everyday</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h1 class="ion-text-center">3 minute warning</h1>
        <h3 class="ion-text-center">to keep you</h3>
        <h2 class="ion-text-center">on your toes!</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h1 class="ion-text-center" style="padding-bottom:15%">Log in to get going</h1>
        <app-login-page></app-login-page>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h3 class="ion-text-center">To let you know when pumps are coming</h3>
        <h2 class="ion-text-center">Please allow</h2>
        <h1 class="h1-small ion-text-center">Notifications</h1>
      </div>
    </ion-slide>


    <ion-slide>
      <div class="slide">
        <h3 class="ion-text-center">Now all you need to do</h3>
        <h1 class="ion-text-center">is wait</h1>
        <div style="padding-top:20%">
          <h6 class="ion-text-center">Keep coming back to this page or</h6>
          <h4 class="ion-text-center">Enable Notifications</h4>
          <h6 class="ion-text-center">to be notified</h6>
        </div>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>