<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="FacebookConnectPlugin">
    <param name="ios-package" value="FacebookConnectPlugin"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="FCMPlugin">
    <param name="ios-package" value="FCMPlugin"/>
  </feature>

  <feature name="FirebaseAnalytics">
    <param name="ios-package" value="FirebaseAnalyticsPlugin"/>
    <param name="onload" value="$FIREBASE_ANALYTICS_COLLECTION_ENABLED"/>
  </feature>

  <feature name="FirebaseConfig">
    <param name="ios-package" value="FirebaseConfigPlugin"/>
  </feature>

  <feature name="FirebaseCrashlytics">
    <param name="ios-package" value="FirebaseCrashlyticsPlugin" onload="true"/>
  </feature>

  <feature name="FirebaseDynamicLinks">
    <param name="ios-package" value="FirebaseDynamicLinksPlugin"/>
  </feature>

  <feature name="Globalization">
    <param name="ios-package" value="CDVGlobalization"/>
  </feature>

  <feature name="UniversalAnalytics">
    <param name="ios-package" value="UniversalAnalyticsPlugin"/>
  </feature>

  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  
</widget>